Package: com.ikilledappl3.xenok
Name: Xenok 
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Great things to come... Being innovative as possible! 
Maintainer: iKilledAppl3 <ipodnewbee234@gmail.com>
Author: iKilledAppl3 <ipodnewbee234@gmail.com>
Section: Tweaks
