<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filter</key>
	<dict>
		<key>Bundles</key>
		<array>
			<string>com.apple.springboard</string>
			<string>com.apple.camera</string>
			<string>com.apple.mobilesafari</string>
			<string>com.apple.mobileslideshow</string>
			<string>com.facebook.Messenger</string>
			<string>com.apple.AppStore</string>
			<string>com.google.ios.youtube</string>
			<string>com.apple.Preferences</string>
			<string>com.apple.UIKit</string>
		</array>
	</dict>
</dict>
</plist>
