<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>cellClass</key>
			<string>HBImageTableCell</string>
			<key>height</key>
			<string>133</string>
			<key>icon</key>
			<string>CF_Header_Image</string>
		</dict>
		<dict>
			<key>PostNotifcation</key>
			<string>com.ikilledappl3.crystalfolders~prefs-changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ikilledappl3.crystalfolders~prefs</string>
			<key>key</key>
			<string>RED</string>
			<key>label</key>
			<string>Red Folders</string>
		</dict>
		<dict>
			<key>PostNotifcation</key>
			<string>com.ikilledappl3.crystalfolders~prefs-changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ikilledappl3.crystalfolders~prefs</string>
			<key>key</key>
			<string>PRODUCTRED</string>
			<key>label</key>
			<string>(RED) Folders</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Choose your favorite color of blue.</string>
			<key>label</key>
			<string>Blue Section </string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.ikilledappl3.crystalfolders~prefs-changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ikilledappl3.crystalfolders~prefs</string>
			<key>key</key>
			<string>BLUE</string>
			<key>label</key>
			<string>Blue Folders</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.ikilledappl3.crystalfolders~prefs-changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ikilledappl3.crystalfolders~prefs</string>
			<key>key</key>
			<string>SFTBLU</string>
			<key>label</key>
			<string>Soft Blue Folders</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.ikilledappl3.crystalfolders~prefs-changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ikilledappl3.crystalfolders~prefs</string>
			<key>key</key>
			<string>DARK</string>
			<key>label</key>
			<string>Dark Folders</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.ikilledappl3.crystalfolders~prefs-changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ikilledappl3.crystalfolders~prefs</string>
			<key>key</key>
			<string>YELLOW</string>
			<key>label</key>
			<string>Yellow Folders</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.ikilledappl3.crystalfolders~prefs-changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ikilledappl3.crystalfolders~prefs</string>
			<key>key</key>
			<string>MAGENTA</string>
			<key>label</key>
			<string>Magenta Folders</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.ikilledappl3.crystalfolders~prefs-changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ikilledappl3.crystalfolders~prefs</string>
			<key>key</key>
			<string>ORANGE</string>
			<key>label</key>
			<string>Orange Folders</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Respring to apply changes.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
	</array>
	<key>title</key>
	<string>VersatileFolders</string>
</dict>
</plist>
